@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
 
 * {
     font-family: 'Montserrat';
 }
 
 html {
     scroll-behavior: smooth;
 }
 
 body {
     margin: 0 auto;
 }
 
 /* tete de page */
 
 header.header {
     display: flex;
     align-items: center;
 }
 
 header.header img {
     width: 150px;
 }
 
 section.top-page {
     background-color: black;
     background-size: cover;
     height: 40vh;
     padding: 25px;
 }
 
 /* page de bienvenue */
 
 .landing-page {
     position: relative;
     padding: 20px 50px;
 }
 
 .big-title {
     color: white;
     font-size:  20px;
     font-weight: 100;
     width: 100%;
     text-align: center;
 }
 
 /* menu de navigation */
 
 nav.nav {
     display: flex;
     justify-content: space-between;
     list-style: none;
     width: 400px;
     margin-left: 30px;
 }
 
 nav.nav li a {
     color: white;
     text-decoration: none;
 }
 
 /* Section evenements et titres */
 
 .section-title {
     font-size: 50px;
     font-weight: 500;
     position: relative;
 }
 
 .section-title::before {
     content: "";
     position: absolute;
     background-color: black;
     width: 50px;
     height: 7px;
     bottom: 0;
 }
 
 .bests-events {
     margin: 100px;
 }
 
 .evenements {
     min-height: 500px;
     display: flex;
     flex-wrap: wrap;
 }
 
 .boite {
     position: relative;
     background-size: cover;
     background-position: center;
 }
 
 .no-grid {
     min-width: 350px;
     height: 500px;
     flex: 1;
 }
 
 .image1 {
     background-image: url(../librairie/images/21.jpg);
 }
 
 .image2 {
     background-image: url(../librairie/images/27.jpg);
 }
 
 .image3 {
     background-image: url(../librairie/images/7.jpg);
 }
 
 .image4 {
     background-image: url(../librairie/images/24.jpg);
 }
 
 .details {
     position: absolute;
     width: 100%;
     bottom: 0;
     background-color: #FFFFFFDF;
     padding: 5px 20px;
 }
 
 .etat {
     font-size: 22px;
     font-weight: 600;
     line-height: 3px;
 }
 
 .support {
     color: black;
     line-height: 3px;
     font-size: 14px;
     font-weight: normal;
 }
  
 /* pied de page */
 
 footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 20px 100px;
     font-weight: 600;
 }
 
 footer a.cgv {
     text-decoration: none;
     color: black;
 }